.option-buttons{
  flex: 1;
}

.updating{
  background: rgb(0, 172, 172);
}

.done{
  background: rgb(69, 226, 69);
}
.deleting{
  background: rgb(235, 122, 73);
}

tr{
  transition: 800ms cubic-bezier(0, 0, 0, 1.43);
}

td.options{
  display: flex;
  flex-direction: row;
}

.ticket-container{
  margin-left: 30px;
  margin-right: 30px;
}